html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* Navigation Section */
.top-navigation {
    background-color: #fff;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #DDD;
    z-index: 9999;
}
.top-navigation > .content {
    width: 970px;
    height: 70px;
    margin: 0 auto;
    padding: 0px 15px;
    margin-top: .5rem;
}
.top-navigation .content {
	padding: 0 0.938rem;
	margin: 0 auto;
	min-width: 37.5rem;
}
div {
	display: block;
}
.top-navigation .links {
	float: right;
	font-family: 'Roboto', sans-serif;
	color: #838994;
	font-size: 1.04rem;
	margin-top: 1.7rem;
	-webkit-font-smoothing: antialiased;
}
.top-navigation .links li {
	display: inline-block;
	margin-left: 2rem;
}
.top-navigation .links > .active {
    color: #4c5058;
    font-weight: 500;
}
.top-navigation .links li:hover {
	cursor: pointer;
	color: #333333;
}
.top-navigation .logo {
	float: left;
	height: 4.375rem;
}
nav {
	font-size: 100%;
	font: inherit;
}
/**
 * Introduction Section
 */
 .introduction {
    background-image: url('../images/first-background.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    overflow: auto;
}
.introduction .buttons {
    color: white;
    text-align: center;
    margin-top: 1.563rem;
}
.content {
    padding: 0 0.938rem;
    margin: 0 auto;
    min-width: 37.5rem;
}
.introduction h1 {
    margin-top: 17.5rem;
    font-size: 3.125rem;
}
.introduction h1, .introduction h3 {
    color: white;
    text-align: center;
    font-weight: 300;
}
.introduction h3 {
    margin-top: 1.25rem;
    font-size: 1.563rem;
}
button {
    width: 9.688rem;
    background-color: #f15a29;
    border-color: #f15a29;
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    color: white;
    font-size: 1.125rem;
}
/* Body Section */
body {
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
}
*, *:before, *:after {
    box-sizing: inherit;
}